	<li>
To use this service, your fitbit email and password are required.
(to get your data from the fitbit API)
	</li>
	<li>
    <form action='/account/edit' method='post'>
    Email:
	<input type='text' name='email' placeholder='<%= @account.fitbit_email %>' />
	</li>
	<li>
    Password:
	<input type='password' name='password' placeholder='<%=
	@account.fitbit_pass.gsub(/./,'*') if @account.fitbit_pass %>' />
	</li>
	<li>
    <input type='submit' name='save' value='save' />
    </form>
	  </li>
