<ul>
<li>
Log in with Fitbit user/pass.<br/>
(Fitbit account needed to get your data from the Fitbit API)
<span class="error-msg"><%= @error_msg %></span>
</li>
<form action='/account/login' method='post' id='loginForm'>
<li>
Email:
<input type='email' name='email' id='email' />
</li>
<li>
Password:
<input type='password' name='password' id='password'/>
</li>
<li>
<input type='submit' class='button' name='login' value='login' id='loginSubmit' onclick="return loginFormSubmit();"/>
</li>
</form>

<% if ENV['rpx_key'] && !params['app'] && false %>
<!-- just removing the RPX as it doesn't work on mobile really -->
<li>
<br/>
Or login with the options below <br/>
<iframe src="<%="#{open_id_auth_uri}" %>" scrolling="no" frameBorder="no"allowtransparency="true" style="width:400px;height:240px"></iframe>
</li>
<% end %>
