<div class="iphone-scrollcontainer">
   <ul class="iphone-scroll">
      <li>
        <div class="nav-indicator-fixed"></div>
        <div class="nav-indicator">
        Fitbit Mini Viewer
        </div>
	
	<li>
Log in with Fitbit user/pass.<br/>
(Fitbit account needed to get your data from the Fitbit API)
	</li>
	<li>
    <form action='/account/login' method='post'>
    Email:
	<input type='text' name='email' />
	</li>
	<li>
    Password:
	<input type='password' name='password' />
	</li>
	<li>
    <input type='submit' name='login' value='login' />
    </form>
	  </li>
	  <li>
<br/>
  Or login with the options below <br/>
  <iframe src="<%= open_id_auth_uri %>" scrolling="no" frameBorder="no"
        allowtransparency="true" style="width:400px;height:240px"></iframe>
          </li>

<%=erb :footer, :layout => false %>
