<div class="iphone-scrollcontainer">
   <ul class="iphone-scroll">
      <li>
        <div class="nav-indicator-fixed"></div>
        <div class="nav-indicator">
        Fitbit Mini Viewer
        </div>

<%=erb :view_data, :layout => false %>
	  
<%=erb :footer, :layout => false %>

</body>
</html>