<html>
<head>
<script type="text/javascript" charset="utf-8" src="/jquery-1.4.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/jquery.sparkline.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/jquery.offline.js"></script>
<script type="text/javascript" charset="utf-8" src="/json.js"></script>

    <script type="text/javascript">
    function init(){
      //add this in your javascript code to 'hide' the address bar  
      window.scrollTo(0, 1);
    }

    var sparklines = function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline(); 

        /* Use 'html' instead of an array of values to pass options 
        to a sparkline with data in the tag */
        $('.inlinebar').sparkline('html', {type: 'bar', barColor: '#81F7F3'} );
    }

    var hideLoading = function() {
      $("#loading").hide();
    }

    var accountGet = function(callback) {
    $.retrieveGet("/account", function(json, status) {
      var content = json;
      $("#content").empty().append(content);
      hideLoading();
    });
    return false;
    };

    var getHome = function(url) {
    $.retrieveGet(url, function(json, status) {
      var content = json;
      $("#content").empty().append(content);
      sparklines();
      hideLoading();
    });
    return false;
    };

    jQuery(document).ready(function($) {
    sparklines();
    // Since jQuery.retrieveJSON delegates to jQuery's Ajax
    // to make requests, we can just set up normal jQuery
    // Ajax listeners.
    //$("#loading").ajaxStart(function() { $(this).show(); });
    //$("#loading").ajaxStop(function() {  $(this).hide(); });


  // Immediately try to retrieve the data. If the cached
  // data is available, it will be used.
  //
  // If the user is online, it will kick off a request for
  // updated content in the background. If not, it will
  // queue the request for later.
  //updateArticlesGet();
});

    </script>

<link rel='stylesheet' href='/base.css' type='text/css' media="screen,projection">
<meta name = "viewport" content = "width = device-width">
<link rel="apple-touch-icon" href="/icon.png">
</head>

<body onload="init();">
<div id="loading" style="display:none"><img src="/loading.gif" alt="loading..." /></div>
<div id="content">
<%= yield %>
</div>

</body>
</html>
