<html>
<head>
<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/jquery.sparkline.min.js"></script>

    <script type="text/javascript">
    $(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline(); 

        /* Use 'html' instead of an array of values to pass options 
        to a sparkline with data in the tag */
        $('.inlinebar').sparkline('html', {type: 'bar', barColor: '#81F7F3'} );
    });

    function init(){
    //add this in your javascript code to 'hide' the address bar  
    window.scrollTo(0, 1);  
    }

    </script>

<link rel='stylesheet' href='/base.css' type='text/css' media="screen,projection">
<meta name = "viewport" content = "width = device-width">
<link rel="apple-touch-icon" href="/icon.png">
</head>

<body onload="init();">

<div id="content">
<%= yield %>
</div>

</body>
</html>
